﻿<div align="center">
    <table width="1000" border="0" cellspacing="0" cellpadding="0">

        <tr>
            <td valign="top" bgcolor="#FF6600">
                <table width="1000" border="0" cellspacing="2" cellpadding="2">
                    <tr>
                        <td width="100"><a href="index.php" class="topmenu">Trang chủ</a></td>
                        <td width="160"><a href="help.htm" class="topmenu">Hướng dẫn mua hàng</a></td>
                        <td width="100"><a href="promotion.php" class="topmenu">Khuyến mãi</a></td>
                        <td width="100"><a href="download.php" class="topmenu">Download</a></td>
                        <td width="100"><a href="viewcart.php" class="topmenu">Giỏ hàng</a></td>
                        <td>
                            <div align="right"><a href="myaccount.php" class="topmenu">Your MarketoHome!</a></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <br/>
    Copyright @2016-2017 MARKETOHOME.COM All rights Reserved. <br/>
    Công Ty TNHH MARKETOHOME giấy chứng nhận đăng ký kinh doanh số: 410201915911<br/>
    Điện Thọai (08)3925051901 - (08)3921505911 -Fax: (08)3192578371<br/>
    Website: www.marketohome.com và www.marketohome.com.vn<br/>
    E-mail:info@marketohome.com hoặc sales@marketohome.com <br/>
</div>
 
